---
- hosts: all
  remote_user: vagrant
  become: yes
  pre_tasks:
  - name: Update apt cache if needed
    apt: "update_cache=yes cache_valid_time=14400"
  tasks:
  - name: install prerequisites
    apt:
     name:
       - apt-transport-https
       - ca-certificates
       - curl
       - gnupg-agent
       - software-properties-common
       - docker-compose
  - name: add apt-key
    apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present
  - name: add docker repo
    apt_repository: 
      repo: deb https://download.docker.com/linux/ubuntu xenial stable
      state: present
  - name: install docker
    apt:
      name: 
        - docker-ce
        - docker-ce-cli
        - containerd.io 
      update_cache: yes
  - name: add user permissions
    shell: "usermod -aG docker $USER"
    
  - name: Check if the git repository exists
    stat: path=/opt/yolo
    register: repo_stat

  - name: Fetch the mstienei/yolo GitHub repository
    git:
      repo: https://github.com/Mstienei/yolo.git
      dest: /opt/yolo
    when: not repo_stat.stat.exists

  - name: run docker compose to deploy containers
    shell: "docker-compose -f /opt/yolo/docker-compose.yml up -d"